@page "/AllAtOnce"
<h3>All Components At Once</h3>
<p> All components have been rendered upon page load</p>
<br /><br /><br />

<BlazorComponentLifecycleTesting.Components.Component1 />
<br /><br />
<BlazorComponentLifecycleTesting.Components.Component2 />
<br /><br />
<BlazorComponentLifecycleTesting.Components.Component3 />

